# List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
l = [1,2,3,4,5 ,'tanu', 64.5 ]
l

[1, 2, 3, 4, 5, 'tanu', 64.5]

- List Items: 
List items are ordered, changeable, and allow duplicate values. List items are indexed, the first item has index [0], the second item has index [1] etc.

- Ordered: 
When we say that lists are ordered, it means that the items have a defined order, and that order will not change. If you add new items to a list, the new items will be placed at the end of the list.

In [3]:
'''
List Indexing
'''
print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])
print(l[5])
print(l[6])

1
2
3
4
5
tanu
64.5

In [5]:
l[0:5] # Printing 0 to 5 indexes data from a list

[1, 2, 3, 4, 5]

In [2]:
"""
Reversing a list using indexing
"""
l = [1,2,3,4,5 ,'tanu', 64.5 ]
l[::-1]

[64.5, 'tanu', 5, 4, 3, 2, 1]

In [3]:
'''
printing empty list using indexing
'''
l = [1,2,3,4,5 ,'tanu', 64.5 ]
l[0:8:-1]

[]

- Changeable: 
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

- Allow Duplicates: 
Since lists are indexed, lists can have items with the same value:

In [1]:
List = ['Apple', 'Banana', 'Cherry', 'Apple']
List

['Apple', 'Banana', 'Cherry', 'Apple']

- List Length: 
To determine how many items a list has, use the len() function:

In [4]:
'''
Finding the length of a list
'''
l = [1,2,3,4,5 ,'tanu', 64.5 ]
len(l)

7

- type(): 
From Python's perspective, lists are defined as objects with the data type 'list':

In [3]:
l = [1,2,3,4,5 ,'tanu', 64.5 ]
print(type(l))

<class 'list'>

In [4]:
'''
Multiplying a list
'''
l*2

[1, 2, 3, 4, 5, 'tanu', 64.5, 1, 2, 3, 4, 5, 'tanu', 64.5]

In [5]:
2 in l  #in keyword

True

In [6]:
'''
Finding the minimum value of a list
'''
l1 = [1,2,3,4]
min(l1)

1

In [7]:
l2 = ['tan', 'cos','cosec', 'sec']
min(l2)

'cos'

# List Methods
Here are some other common list methods.

- list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
- list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
- list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
- list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
- list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
- list.sort() -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
- list.reverse() -- reverses the list in place (does not return it)
- list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [8]:
'''
Appending new values to list using append()
'''
l2 = ['tan', 'cos','cosec', 'sec']
l2.append('case')
l2

['tan', 'cos', 'cosec', 'sec', 'case']

In [9]:
l.append('kumar')
l

[1, 2, 3, 4, 5, 'tanu', 64.5, 'kumar']

In [10]:
'''
Removing values from a list using pop()
'''
l.pop(0)
l

[2, 3, 4, 5, 'tanu', 64.5, 'kumar']

In [11]:
l

[2, 3, 4, 5, 'tanu', 64.5, 'kumar']

In [12]:
'''
Reversing a list using reverse()
'''
l3 = [1, 2, 3, 4, 5, 'tanu', 64.5, 'kumar']
l3.reverse()

In [13]:
l3

['kumar', 64.5, 'tanu', 5, 4, 3, 2, 1]

In [14]:
'''
Sorting a list using sort()
'''
l2.sort()
l2

['case', 'cos', 'cosec', 'sec', 'tan']

In [15]:
'''
Deleting values from the list using clear()
'''
l2.clear()
l2

[]

In [16]:
l2.append(['tan', 'cos', 'cosec', 'sec'])
l2

[['tan', 'cos', 'cosec', 'sec']]

In [17]:
'''
inserting values to a list using extend()
'''
l2.extend('3')
l2

[['tan', 'cos', 'cosec', 'sec'], '3']

In [18]:
l2.pop()
l2

[['tan', 'cos', 'cosec', 'sec']]

In [19]:
l2[::-1]

[['tan', 'cos', 'cosec', 'sec']]

In [20]:
l2.reverse()
l2

[['tan', 'cos', 'cosec', 'sec']]

In [21]:
l2.append([1,2,3,4,5])
l2
l2.extend('tan')
l2

[['tan', 'cos', 'cosec', 'sec'], [1, 2, 3, 4, 5], 't', 'a', 'n']

In [22]:
l4 = [1,2,4,3,3,5,7,10]
#l4.sort()
l4
l4.count(3)

2

In [23]:
l4.sort(reverse = True)

In [24]:
l4

[10, 7, 5, 4, 3, 3, 2, 1]

In [25]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l4 = [l1, l2, l3]
l4[2][1]

8

In [26]:
l4.extend([4,7,8])

In [27]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 7, 8]

In [28]:
l4.extend('tan')

In [29]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 7, 8, 't', 'a', 'n']

In [30]:
l4.index('a')

7

In [31]:
l4.insert(4, 'pheobie')

In [32]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 'pheobie', 7, 8, 't', 'a', 'n']

In [33]:
l4.insert(20, 'monn')

In [34]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 'pheobie', 7, 8, 't', 'a', 'n', 'monn']

In [35]:
l4[10]

'monn'

In [36]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 'pheobie', 7, 8, 't', 'a', 'n', 'monn']

In [37]:
l4.remove('monn')

In [38]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 'pheobie', 7, 8, 't', 'a', 'n']

In [39]:
#pop is based on index, but remove is based on element

l4[2] = 'joey'

In [40]:
l4

[[1, 2, 3], [4, 5, 6], 'joey', 4, 'pheobie', 7, 8, 't', 'a', 'n']

In [42]:
l4[5] = 'c'
l4

[[1, 2, 3], [4, 5, 6], 'joey', 4, 'pheobie', 'c', 8, 't', 'a', 'n']