# List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
#Defining a list
List = [1,2,3,4,5]

In [1]:
# list with mixed data types
l = [1,2,3,4,5 ,'tan', 64.5 ]
l

[1, 2, 3, 4, 5, 'tanu', 64.5]

A list can also have another list as an item. This is called a nested list.

In [6]:
# nested list
nested_l = ["tan", [8, 4, 6], [2.3, 5]]
nested_l

['tan', [8, 4, 6], [2.3, 5]]

- List Items: 
List items are ordered, changeable, and allow duplicate values. List items are indexed, the first item has index [0], the second item has index [1] etc.

- Ordered: 
When we say that lists are ordered, it means that the items have a defined order, and that order will not change. If you add new items to a list, the new items will be placed at the end of the list.

In [1]:
# List Indexing
my_list = [1, 2, 3, 4, 5,'a', 'b', 'c', 45.5]

# first item
print(my_list[0])

# second item
print(my_list[1])

# third item
print(my_list[2]) 

# last item
print(my_list[8])

1
2
3
45.5

In [2]:
my_list[0:5] # Printing 0 to 5 indexes data from a list

[1, 2, 3, 4, 5]

In [5]:
my_list = [1, 2, 3, 4, 5,'a', 'b', 'c', 45.5]

# last item
print(my_list[-1])

# eighth item
print(my_list[-2])

# seventh item
print(my_list[-3])

# sixth item
print(my_list[-4])

# fifth last item
print(my_list[-5])

45.5
c
b
a
5

# List slicing

List slicing is a common practise in Python, and it is the most commonly used technique for programmers to solve efficient problems. Consider a Python list. To access a range of elements in a list, you must slice it. One method is to use the simple slicing operator, i.e. colon (:)

With this operator, one can specify where to begin slicing, where to end slicing, and the step. List slicing creates a new list from an existing one.

In [10]:
# List slicing in Python

my_list = ['t', 'h', 'a', 'n', 'm', 'a', 'i']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements from index 0 to 6 by taking 2 jumps
print(my_list[0:6:2])

# elements beginning to end
print(my_list[:])

['a', 'n', 'm']
['a', 'i']
['t', 'a', 'm']
['t', 'h', 'a', 'n', 'm', 'a', 'i']

In [19]:
# elements from index 0 to 6
print(my_list[-7:-1])

# elements from index 0 to 6 by taking 2 jumps
print(my_list[-7:-1:2])

# reversing the list
print(my_list[::-1])

#printing empty list
print(my_list[0:7:-1])

['t', 'h', 'a', 'n', 'm', 'a']
['t', 'a', 'm']
['i', 'a', 'm', 'n', 'a', 'h', 't']
[]

In [2]:
"""
Reversing a list using slicing
"""
l = [1,2,3,4,5 ,'tanu', 64.5 ]
l[::-1]

[64.5, 'tanu', 5, 4, 3, 2, 1]

In [3]:
'''
printing empty list using slicing
'''
l = [1,2,3,4,5 ,'tanu', 64.5 ]
l[0:8:-1]

[]

- Changeable: 
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

- Allow Duplicates: 
Since lists are indexed, lists can have items with the same value:

In [1]:
List = ['Apple', 'Banana', 'Cherry', 'Apple']
List

['Apple', 'Banana', 'Cherry', 'Apple']

- List Length: 
To determine how many items a list has, use the len() function:

In [4]:
'''
Finding the length of a list
'''
l = [1,2,3,4,5 ,'tan', 64.5 ]
len(l)

7

- type(): 
From Python's perspective, lists are defined as objects with the data type 'list':

In [3]:
l = [1,2,3,4,5 ,'tan', 64.5 ]
print(type(l))

<class 'list'>

In [4]:
'''
Multiplying a list
'''
l*2

[1, 2, 3, 4, 5, 'tanu', 64.5, 1, 2, 3, 4, 5, 'tanu', 64.5]

In [5]:
2 in l  #in keyword

True

In [23]:
'''
Finding the minimum value of a list
'''
l1 = [-1, 3, 5.5, 6, -7, 0]
print(min(l1))
print(max(l1))

-7
6

In [22]:
l2 = ['tan', 'cos','cosec', 'sec']
print(min(l2))
print(max(l2))

cos
tan

# Delete List Elements: 
Using the Python del statement, we can remove one or more items from a list. It has the ability to completely delete the list.

In [26]:
# Deleting list items
my_list = ['t', 'h', 'a', 'n', 'm', 'a', 'i']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

['t', 'h', 'n', 'm', 'a', 'i']
['t', 'i']

# List Methods
Here are some other common list methods.

- list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
- list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
- list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
- list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
- list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
- list.sort() -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
- list.reverse() -- reverses the list in place (does not return it)
- list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [46]:
list_methods = ['sine', 'cos', 'tan', 'cosec', 'sec', 'cot']
list_methods.append('case')
print(list_methods)

list_methods.extend([1,2,3,4,5,6,7,7,7,7])
print(list_methods)

list_methods.insert(0, 'xyz')
print(list_methods)

list_methods.remove('xyz')
print(list_methods)

list_methods.pop(1) 
print(list_methods)

print(list_methods.index('case'))

print(list_methods.count(7))

lst = [1,5,3,4,6,7,3,2,9,4,0,10,22,-11]
lst.sort() 
print(lst)

list_methods.reverse() 
print(list_methods)

list_methods.copy() 
print(list_methods)

list_methods.clear() 
print(list_methods)

['sine', 'cos', 'tan', 'cosec', 'sec', 'cot', 'case']
['sine', 'cos', 'tan', 'cosec', 'sec', 'cot', 'case', 1, 2, 3, 4, 5, 6, 7, 7, 7, 7]
['xyz', 'sine', 'cos', 'tan', 'cosec', 'sec', 'cot', 'case', 1, 2, 3, 4, 5, 6, 7, 7, 7, 7]
['sine', 'cos', 'tan', 'cosec', 'sec', 'cot', 'case', 1, 2, 3, 4, 5, 6, 7, 7, 7, 7]
['sine', 'tan', 'cosec', 'sec', 'cot', 'case', 1, 2, 3, 4, 5, 6, 7, 7, 7, 7]
5
4
[-11, 0, 1, 2, 3, 3, 4, 4, 5, 6, 7, 9, 10, 22]
[7, 7, 7, 7, 6, 5, 4, 3, 2, 1, 'case', 'cot', 'sec', 'cosec', 'tan', 'sine']
[7, 7, 7, 7, 6, 5, 4, 3, 2, 1, 'case', 'cot', 'sec', 'cosec', 'tan', 'sine']
[]

In [9]:
l.append('kumar')
l

[1, 2, 3, 4, 5, 'tanu', 64.5, 'kumar']

In [10]:
'''
Removing values from a list using pop()
'''
l.pop(0)
l

[2, 3, 4, 5, 'tanu', 64.5, 'kumar']

In [11]:
l

[2, 3, 4, 5, 'tanu', 64.5, 'kumar']

In [12]:
'''
Reversing a list using reverse()
'''
l3 = [1, 2, 3, 4, 5, 'tanu', 64.5, 'kumar']
l3.reverse()

In [13]:
l3

['kumar', 64.5, 'tanu', 5, 4, 3, 2, 1]

In [14]:
'''
Sorting a list using sort()
'''
l2.sort()
l2

['case', 'cos', 'cosec', 'sec', 'tan']

In [15]:
'''
Deleting values from the list using clear()
'''
l2.clear()
l2

[]

In [16]:
l2.append(['tan', 'cos', 'cosec', 'sec'])
l2

[['tan', 'cos', 'cosec', 'sec']]

In [17]:
'''
inserting values to a list using extend()
'''
l2.extend('3')
l2

[['tan', 'cos', 'cosec', 'sec'], '3']

In [18]:
l2.pop()
l2

[['tan', 'cos', 'cosec', 'sec']]

In [19]:
l2[::-1]

[['tan', 'cos', 'cosec', 'sec']]

In [20]:
l2.reverse()
l2

[['tan', 'cos', 'cosec', 'sec']]

In [21]:
l2.append([1,2,3,4,5])
l2
l2.extend('tan')
l2

[['tan', 'cos', 'cosec', 'sec'], [1, 2, 3, 4, 5], 't', 'a', 'n']

In [22]:
l4 = [1,2,4,3,3,5,7,10]
#l4.sort()
l4
l4.count(3)

2

In [23]:
l4.sort(reverse = True)

In [24]:
l4

[10, 7, 5, 4, 3, 3, 2, 1]

In [25]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l4 = [l1, l2, l3]
l4[2][1]

8

In [26]:
l4.extend([4,7,8])

In [27]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 7, 8]

In [28]:
l4.extend('tan')

In [29]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 7, 8, 't', 'a', 'n']

In [30]:
l4.index('a')

7

In [31]:
l4.insert(4, 'pheobie')

In [32]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 'pheobie', 7, 8, 't', 'a', 'n']

In [33]:
l4.insert(20, 'monn')

In [34]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 'pheobie', 7, 8, 't', 'a', 'n', 'monn']

In [35]:
l4[10]

'monn'

In [36]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 'pheobie', 7, 8, 't', 'a', 'n', 'monn']

In [37]:
l4.remove('monn')

In [38]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 4, 'pheobie', 7, 8, 't', 'a', 'n']

In [39]:
#pop is based on index, but remove is based on element

l4[2] = 'joey'

In [40]:
l4

[[1, 2, 3], [4, 5, 6], 'joey', 4, 'pheobie', 7, 8, 't', 'a', 'n']

In [42]:
l4[5] = 'c'
l4

[[1, 2, 3], [4, 5, 6], 'joey', 4, 'pheobie', 'c', 8, 't', 'a', 'n']